@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 100;
    src: local('Geist'), url(@/assets/fonts/Geist-Thin.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 200;
    src: local('Geist'), url(@/assets/fonts/Geist-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 300;
    src: local('Geist'), url(@/assets/fonts/Geist-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 400;
    src: local('Geist'), url(@/assets/fonts/Geist-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 500;
    src: local('Geist'), url(@/assets/fonts/Geist-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 600;
    src: local('Geist'), url(@/assets/fonts/Geist-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 700;
    src: local('Geist'), url(@/assets/fonts/Geist-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 800;
    src: local('Geist'), url(@/assets/fonts/Geist-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: normal;
    font-weight: 900;
    src: local('Geist'), url(@/assets/fonts/Geist-Black.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 100;
    src: local('Geist'), url(@/assets/fonts/Geist-ThinItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 200;
    src: local('Geist'), url(@/assets/fonts/Geist-ExtraLightItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 300;
    src: local('Geist'), url(@/assets/fonts/Geist-LightItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 400;
    src: local('Geist'), url(@/assets/fonts/Geist-RegularItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 500;
    src: local('Geist'), url(@/assets/fonts/Geist-MediumItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 500;
    src: local('Geist'), url(@/assets/fonts/Geist-MediumItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 600;
    src: local('Geist'), url(@/assets/fonts/Geist-SemiBoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 700;
    src: local('Geist'), url(@/assets/fonts/Geist-BoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 800;
    src: local('Geist'), url(@/assets/fonts/Geist-ExtraBoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Geist';
    font-style: italic;
    font-weight: 900;
    src: local('Geist'), url(@/assets/fonts/Geist-BlackItalic.ttf) format('truetype');
}